/* CSS Reset */

* {
box-sizing: border-box;


}

html,
body {

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}

body {
	box-sizing: border-box;


}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li {

	margin: 0;
	padding: 0;

}

section {
	padding: 10px;
}

.clearfix: after {
	display: block;
	content:;
	clear: both;
}

/*All Sections*/

section h2 {
margin: 0 0 01em; 
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;

}

.container {
padding: 64px
	
}

section h3



/* Header */

.logo {
	float: left;
}

.logoimage {
	height: 40px;
	width: auto;

}


#header {
		
		height: 40px;
		padding-left: 64px;
		padding-right: 64px;
		background-color: #000000;
		position: fixed;
		width: 100px;
}

.logo-image {
		height: 40px;
		width: auto;
}

.nav {
	float:right;

}

.nav li {

		float: left;
		list-style-type: none;
}

.nav a {
		display: inline-block;
		padding: 12px;
		color: #ffffff;
		text-decoration: none;
	}

.nav a:hover {
		color: #96ffda
}

.home_bg { 

background-image: url("../image/first-bg-cat.jpg");
background-size: cover;
position: absolute;
background-attachment: fixed;
width: 100%;
height: 100%;

}

.container_table {
		display:table;
		widows: 100px;
		height: 100px;
		position: relative;
		display: table;
		flex-direction: column;


}


.container_table_cell {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: table-cell;
	height: 100%;
	vertical-align: middle;

}
.container_table_cell h2 {
	text-align: center;
	font-size: 35pt;
	color: #fff;
}

.social_icons {
	font-size:1.5em;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 5px;
	text-align: center;
	

	/*about section*/



}

.summary {
	display: flex;
	flex-direction: row;
}

.col-left,
.col-right {
	width: 50%;

}

.avatar {
	width: 100%;
	height: auto;

}

.skills {

		margin: 2em 0;
		
}


















