/* CSS Reset */

* {
box-sizing: border-box;


}

html,
body {

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}

body {
	box-sizing: border-box;


}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li {

	margin: 0;
	padding: 0;
}

img {

	width: 100px;
	height: auto;
	display: block;

}

section {
	padding: 10px;
}

.clearfix: after {
	display: block;
	content:;
	clear: both;
}

/* Header */

.logo {
	float: left;
}

.logoimage {
	height: 40px;
	width: auto;

}



#header {
		
		height: 40px;
		padding-left: 64px;
		padding-right: 64px;
		background-color: #000000;
}

.logo-image {
		height: 40px;
		width: auto;
}

.nav {
	float:right;

}

.nav li {

		float: left;
		list-style-type: none;
}

.nav a {
		display: inline-block;
		padding: 12px;
		color: #ffffff;
		text-decoration: none;
	}

.nav a:hover {
		color: #96ffda
}

.home_bg { 

background-image: url ("image/first-bg-cat.jpg");
background-size: cover;
position: absolute;
background-attachment: fixed;
width: 100%;
height: 100%;

}

.container_table {

		padding-top: 20%;
}


.container_table_cell {
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}
.container_table_cell h2 {
	text-align: center;
	font-size: 35pt;
	color: #fff;
}

.social_icons {
	font-size:1.5em;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 5px;
	text-align: center;
	
}
















