/* CSS Reset */

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
}

body.with-menu:after {
	position: fixed;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}


h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

a:hover {
	color: #ff9d00;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}




/* ---------------------------- All sections ------------------ */
section h2 {
	margin: 1em 0 1em; /* 1em here = 16px base size * 2.5em font size, which in this case is 40px */
	font-size: 2.2em;
	text-align: center;
	text-transform: lowercase;
	text-decoration: underline;

	
}

section h3 {
	margin: 1em 0 0.5em;
	font-weight: bold;
}

section h2:first-child,
section h3:first-child {
	margin-top: 0;
}


section h4 {
	margin: 1em 0 0.25em;
}

section h5 {
	margin:0.5em 0 0.25em;
}

section h6 {
	font-size: 0.85em;
	margin: 0.15em 0 0.25em;
	color: #999;
}

section h7 {
	margin: 1em 0 1em;
	margin: 0.15em 0 0.25em;
	color: #;
	text-align: left;
	z-index: 1;
	width: 50%;
	top: 40%;
	font-size: 20px
}

section h8 {
	margin: 1em 0 1em;
	margin: 0.15em 0 0.25em;
	color: #f6a704;
	text-align: left;
	z-index: 1;
	width: 50%;
	top: 40%;
	font-size: 20px;
	text-decoration: line-through;
}


.container {
	padding: 100px 64px;
}

.button {
	display: inline-block;
	border: 1px solid;
	padding: 10px 15px;
	border-radius: 10px;
	text-decoration: none;
}

.button:hover {
	background: #ff9d00;
	color: #fff;
}

/* ---------------------------Header -----------------------------*/

#header {
	position: fixed;
	width: 100%;
	min-height: 40px;

	z-index: 100;
}

.logo-image {
	display: block;
	height: 40px;
	width: auto;
}

.nav-list a {
	display: inline-block;
	padding: 12px;
	color: #000;

	text-decoration: none;
}



/* ----------------------Hero section --------------------------*/

.hero {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent url('image/cat.gif') center center repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;

}

.hero:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}

.hero__content {
	position: absolute;
	width: 70%;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;


	text-align: left;

	color: #fff;

	z-index: 1;

}

.hero__title {
	font-size: 4.5em;
	margin-bottom: 0.6em;

}

.hero__icon {
	margin: 0.5em;
	color: #fff;
}

}

.hero__scroll {
	position: absolute;
	width: 24px;
	left: 50%;
	bottom: 10px;
	margin-left: -12px;
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 20px;
}

.hero__scroll i {
	display: block;
	width: 10px;
	height: 10px;
	line-height: 10px;
	margin: auto;
	color: #fff;
}

.arrow_one {
	animation: arrow_one 1s ease-in infinite;
}

.arrow_two {
	animation: arrow_two 1s linear infinite;
}

.arrow_three {
	animation: arrow_three 1s ease-out infinite;
}

@keyframes arrow_one {
	0% {
		color: #fff;
	}

	20% {
		color: #ff9d00;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #fff;
	}
}

@keyframes arrow_two {
	0% {
		color: #fff;
	}

	50% {
		color: #ff9d00;
	}

	100% {
		color: #fff;
	}
}

@keyframes arrow_three {
	0% {
		color: #fff;
	}

	50% {
		color: #fff;
	}

	80% {
		color: #ff9d00;
	}

	100% {
		color: #fff;
	}
}

/* ------------------------------- About section ------------------------------- */


.summary {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	flex-wrap: wrap;
}


.avatar {
	width: 100%;
	height: auto;
}

.skills {
	margin: 2em 0;
	list-style-type: none;
}

.skill {
	font-weight: bold;
	margin-bottom: 1em;
}

/* --------------------- Services section ---------------- */

.my-services {
	background-color: rgba(0,0,0,0);
}


.service-item {
	width: 33%;
	padding: 0 40px;
}

/* ------------------------ Resume section ----------------------- */
.resume-items {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;


}

.resume-item {
	width: 45%;

}

.experience-year {

	display: inline-block;
	padding: .25em 1em;
	color: #fff;
	background-color: #000;
}

.resume-row {
	border-bottom: 1px solid #000;
	padding: 20px 20px 20px;
}

h2 + .row {  /* row. with and h2 before it*/
	padding-top: 0;
}

.row:last-child {
	border-bottom: none;
	
}


/* --------------------------- Quotes section ------------------------*/

.quote {

	position: relative;
	background-image: url('image/lantern-bg.jpg');

	padding-left: 80px;
	padding-bottom: 50px;
	text-align: center;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;

	padding-top: 120px;
	padding-bottom: 120px;


}

.quote h3 {
				font-size: 1.5em;
				margin-bottom: 0.25em;


}

.quote a {
		display: inline-block;
		margin-top: 2em;
		color: #fff;
}

.quote:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.25);
}

.quote .button {
	padding: 15px 40px;

}

/* --------------------------Portfolio section --------------------*/

.work-items {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-work {
	display: block;
  margin-bottom: 14px;
  position: relative;
 
  top: 0;
  left: 0;

	width: 300px;

	padding: 15px;
}

.col-work a {
	display: block;
	width: 100%;
	height: 100%;
}

.col-work img {
	display: block;

	width: 100%;
	height: 270px;

	object-fit: cover;
}

.col-work a:hover img {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}


/* -------------------------Contact section----------------------- */

.contact-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

	text-align: center;
	width: 66.66%;
	margin: 0 auto;
	min-width: 600px;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2) {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	padding: 10px;

}

.contact-form .form-input:nth-child(3) {
	display: block;
	width: 100%;
	padding: 10px;

}

.form-style {
	width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

.form-submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 40px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;

}

.form-submit input:hover {
  background-color: #000;
  color: #fff;
}

/* ----------------------Footer section -----------------*/

.footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  }

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

/*----------------- Tablet and mobile --------------------*/

@media screen and (max-width: 1000px) {
	.container {
		padding: 100px 40px;
	}


@media screen and (max-width: 920px) {

			/* About me */


.col-left,
.col-right {
	width: 100%;
}

.col-right {
	padding-left: 0px;
	margin-top: 40px;
}

			/* Services */

.service-item {

	margin-top: 3.5rem;
	text-align: center;
}



			/* Resume */

.resume-item {
width: 100%;
margin-top: 1em; 

}

.row {

	padding: 50px 0 30px;
	padding-top: 50px
	padding-bottom: 30px;
}

		/* Portfolio */

		.work-items {
			padding: 0 5px 20px;
			}

}

@media screen and (max-width: 800px) {
	.work-items {
		width: 100%;
		height: auto;
	}

				/* Form */
	.contact-form {
		display: block;
		width: 100%;
		min-width: 0;
	}

	.form-submit input,
		.input-wrapper_half {
			width: 100%;
	}

}

.footer {
	padding-top: 5px;
  padding-bottom: 5px

}

				/* Navigation collapse to Hamburger Icon */





@media screen and ( min-width : 1024px ) { 
   .menu-button, .menu-button-checkbox { display : none ; 
   } 
} 

@media screen and ( max-width: 1023px ) { 
    .container { width: auto ; 
    } 

 .menu-button { 
      float: right; 
      font-size: 25px; 
      line-height: 40px; 
      color: white; 
      background: transparent; 
      padding: 0 15px; 
      border: 0; 
    } 

.menu-button-checkbox { 
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 55px; 
    height: 40px; 
} 

.menu-button-checkbox:checked ~ .menu { 
    display: block; 
} 


 .menu { 
      margin-top: 0; 
      padding-left: 0; 
      position: fixed; 
      right: 0; 
      top: 40px; 
      width: 150px; 
      height: 100%; 
      background: red; 
    } 
.menu li { 
      border: 0; 
      border-radius: 0; 
    } 
}

















